 DATABASE_URL=
 TELEGRAM_BOT_TOKEN=
 TELEGRAM_CHAT_ID=
 QBITUSER=
 QBITPASS=
 QBITIP=http://192.168.0.90:8080
HA_WEBHOOKERROR_URL=
TMDB_READ_ACCESS_TOKEN=
RADARR_URL=http://192.168.0.90:7878
RADARR_API_KEY=8
RADARR_ROOT_FOLDER=/data/2tb/media/Malayalam
RADARR_PREDVD_ROOT_FOLDER=/data/2tb/media/predvd
RADARR_QUALITY_PROFILE_ID=9
SONARR_URL=http://192.168.0.90:8989
SONARR_API_KEY=
SONARR_ROOT_FOLDER=/data/2tb/media/TV-Malayalam
SONARR_QUALITY_PROFILE_ID=7
SONARR_LANGUAGE_PROFILE_ID=1